* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.group {
    display: flex;
    justify-content: center;

}

.date-container {
    display: flex;
    justify-content: end;
}

.title {

    text-decoration: wavy;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgb(62, 169, 226);
    margin: 20px;
}



.pic2>img {
    width: 500px;

}

.pic1>img {
    width: 300px;

}


.graph1 {
    width: 400px;
}

.pic {
    margin: 10px;


}

.big-text {
    font-size: 3em;
}

.graph2 {
    width: 500px;


}




.date {
    font-size: 1em;
    margin: 20px;
}

.pic1,
.pic2 {
    width: 200px;
    height: 200px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;


}

.addPic1,
.addPic2 {
    font-size: 2em;
    font-weight: bold;
    box-sizing: border-box;
}

.addPic1:hover {
    cursor: pointer;
}

.addPic2:hover {
    cursor: pointer;
}

input[type="file"] {
    /* opacity: 0; */
    display: none;
    /* z-index: -1; */



}

.makeBigLetter {
    color: aqua;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}