* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    border: solid 1px;
    padding: 20px;
}

.group {
    display: flex;
    justify-content: center;

}

.date-container {
    display: flex;
    justify-content: end;
}

.title {

    text-decoration: wavy;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    font-weight: bold;
    color: rgb(62, 169, 226);
    padding: 10px;
    margin: 20px 0;
}



.pic2>img {
    object-fit: cover;

}

.pic1>img {
    object-fit: cover;

}

.img-thumbnail {
    max-height: 300px;
    max-width: 250px;
}

.graph1 {
    width: 400px;
}

.pic {
    padding: 20px;


}

.big-text {
    font-size: 3em;
}

.graph2 {
    width: 500px;
    padding: 20px;

}




.date {
    font-size: 1em;
    margin: 20px;
}

.pic1,
.pic2 {
    min-width: 200px;
    min-height: 200px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;


}

.addPic1,
.addPic2 {
    font-size: 2em;
    font-weight: bold;
    box-sizing: border-box;
}

.addPic1:hover {
    cursor: pointer;
}

.addPic2:hover {
    cursor: pointer;
}

input[type="file"] {
    /* opacity: 0; */
    display: none;
    /* z-index: -1; */



}

.makeBigLetter {
    color: aqua;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

textarea {
    resize: none;
    overflow: hidden;

}